/* Make the outer div a flex container */
.homepage {
  color: white;
  height: 70vh;
  display: flex;
  justify-content: space-between; /* space between text and image */
  align-items: center; /* vertically center */
  padding: 50px;
  width: 100%;
  margin: 30px auto; /* center the whole section on page */
  gap: 100px;
  background-color: #495e57;
}

/* Left side text content */
.homepage-text {
  margin-left: 5rem;
  flex: 1;
  text-align: left;
}

.homepage-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.homepage-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Button style */
.homepage-text button {
  background-color: #f4b400;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
}

.homepage-text button:hover {
  background-color: #e09c00;
}

/* Right side image */
.homepage img {
  width: 400px;
  border-radius: 12px;
  object-fit: cover;
  justify-content: left;
  align-items: start;
  margin-right: 5rem;
}
.hero-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.location {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
